python-dotenv==1.0.0
streamlit==1.40
openai==1.56
faiss-cpu==1.9.0.post1
altair==5.5.0
tiktoken==0.8.0

# Uncomment to use Hugging Face LLMs
pdf2image==1.17.0

# Uncomment to use instructor embeddings
InstructorEmbedding==1.0.1




jupyter==1.1.1
unstructured[all-docs]